div{
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
}

button{
    color: azure;
    
    background-color: black;
}

body{
    background-color: antiquewhite;
}
