body{
    background-color: rgb(255, 221, 253);
}

form{
    background-color: rgb(255, 240, 254);
    color: rgb(97, 97, 97);
}

legend{
    font-weight: bold;
    font-style: oblique;
    color: rgb(0, 0, 0);

}

#submitButton{
    background-color:rgb(53, 53, 53);
    color:rgb(227, 227, 227);
}
#resetButton{
    background-color:rgb(255, 42, 42);
    color:rgb(227, 227, 227);
}